<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="footer.component.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <title>Document</title>
</head>
<body>
  <footer>
    <div class="main-content">
      <div class="left box">
        <h2>About me</h2>
        <div class="content">
          <p>
          Hi! my name is Emmanuel!
          in case you havent heard about me (probably) im a vinciu student,
          i am currently studying web developing, this is my first year doing it.
          Lets go straight to the point...
          i need a few bucks, please consider on giving some money (USD please) so
          i can get out of this shitty country (Argentina btw :)).
          </p>
          <div class="social">
            <a href="#"><span class="fab fa-facebook-f"></span></a>
            <a href="#"><span class="fab fa-twitter"></span></a>
            <a href="#"><span class="fab fa-instagram"></span></a>
            <a href="#"><span class="fab fa-youtube"></span></a>
          </div>
        </div>
      </div>
      <div class="center box">
        <h2>Address</h2>
        <div class="content">
          <div class="place">
            <span class="fas fa-map-marker-alt"></span>
            <span class="text">San Juan, Argentina</span>
          </div>
          <div class="phone">
            <span class="fas fa-phone-alt"></span>
            <span class="text">+264-404-6355</span>
          </div>
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">manu.vargasc2004@gmail.com</span>
          </div>
        </div>
      </div>
      <div class="right box">
        <h2>Contact me</h2>
        <div class="content">
          <form action="#">
            <div class="email">
              <div class="text">Email *</div>
              <input type="email" required>
            </div>
            <div class="msg">
              <div class="text">Message</div>
              <textarea cols="25" rows="2"></textarea>
            </div>
            <div class="btn">
              <button type="submit">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
