<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<ul>
  <form class="box" action="index.html" method="post">
    <h1>New Post</h1>
    <input type="text" name="" placeholder="Post´s title">
    <input type="text" name="" placeholder="Write your post">
    <input type="text" name="" placeholder="Author´s name">
    <input type="submit" name="" value="submit" >
  </form>
  <li class="database" *ngFor="let item of items | async as Item">
    {{ item.title }}
   <div class="itemContent">{{item.content}}</div>
   <div class="itemAuthor">Author: {{item.author}}</div>
  </li>
  <ul>
     <li *ngFor="let book of itemsObservable | async as Item">
     {{ book.title }} by {{ book.author }}
     </li>
  </ul>

</ul>
</body>
</html>

