<div class="cont-body">
  <div class="cont-todo-list">
    <div class="c-header">
        <button>Done!</button>
    </div>
    <div class="c-main">
      <p>Tasks</p>
      <ul cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[todoList]"
      class="list-group"
      (cdkDropListDropped)="drop($event)"
      class="list-group">
        <li *ngFor="let name of names; index as i" cdkDrag class="list-group-item">
          <input type="checkbox" id="chk-item" checked>
          <label for="chk-item">{{name}}</label>
          <button (click)="deleteName(i)">X</button>
        </li>
      </ul>
    </div>
    <div class="c-footer">
      <input type="text" required [(ngModel)]="newName">
      <button (click)="addName()">Add new task</button>
    </div>
  </div>
</div>
